<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mahsa's Homepage</title>
</head>
<body>
    <p><b>OH My GOD this feels great!!!!</b></p>
    <div>
        <p>Published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>This shit is great!</p>
    </div>

    <div>
        <p>Published: 14.06.2016, 12:16</p>
        <h2><a href="">My second post</a></h2>
        <p>Where have you been my entire life?!</p>
    </div>
    <div>

        {% for post in posts%}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>